@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    
        @if (Context.Session.GetString("UzivatelRole") == "Admin")
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Odhlásit</a>
            </li>
        }
        else if (Context.Session.GetInt32("UzivatelId") != null)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Logout">Odhlásit (@Context.Session.GetString("UzivatelJmeno"))</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Login">Přihlásit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Register">Registrovat</a>
            </li>
        }
    }
</ul>
